.hero-bg {
  height: 600px !important;
}
.hero h1 {
  font-family: 'Kalam', cursive;
  font-size: 6rem;
  margin-bottom: 0
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
/*
.section-subtitle {
  margin-top: -30px; Pulls the text closer to the image 
}*/
