.hero {
  height: auto !important; /* Changes to auto instead of fixed 400px */
  margin-bottom: 0;
  padding-bottom: 0;
}
.hero-bg {
  height: 800px !important;
}
.hero h1 {
  font-family: 'Kalam', cursive;
  font-size: 6rem;
  margin-bottom: 0
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.about-text {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 150px; /* Increase left/right padding */
  text-align: center;
  background: #fff8f0;
}
.about-text p {
  font-size: 1.1rem;
  color: #3e3b33;
  margin-bottom: 20px;
}
