.coming-soon {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
}

.coming-soon .content h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 10px;
}

.coming-soon .content p {
  font-size: 1.2rem;
  color: #555;
  max-width: 600px;
  margin: 0 auto;
}

