/* Hero Slider */
.hero-slider {
  position: relative;
  width: 100%;
  height: 91vh;
  overflow: hidden;
}

.slides {
  display: flex;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.slides img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.hero-content h1{
  font-family: 'Kalam', cursive;
  color: #a66a2c;
  font-size: 5rem;
}
.hero-content p{
  font-family: 'Kalam', cursive;
  font-size: 2rem;
  color: #a66a2c;
  margin-bottom: 40px;
}
